body { /*achtergrond kleur voor mijn website*/
    background-color: lightblue;
  }
  
  h1 { /*kleur voor h1*/
    color: navy;
    margin-left: 20px;
  }

  .headje { /*header plaatje bij index*/
    background-image: url(blauw-gradient.png);
    background-image: no-repeat;
    background-size: contain;
    margin-left: 0px;
  }

  .footer { /*footer opmaak voor onderaan mijn pagina*/
  background-color: darkblue;
  text-align: center;
  padding: 10px;
  margin-bottom: 0px;
  color: white;
}


  .footer {
  background-color: darkblue;
  text-align: center;
  padding: 10px;
  margin-bottom: 0px;
  color: white;
}


  h2 { /*kleur voor h2*/
    color: navy;
    margin-left: 20px;
  }

  h3 { /*kleur voor h3*/
    color: navy;
    margin-left: 20px;
  }

  h4 { /*kleur voor h4*/
    background-color: #2b2bc5;
    padding: 1%;
    color: white
  }

  p { /*kleur voor p*/
    background-color: #2b2bc5;
    padding: 1%;
    color: white
  }

  .paragraaf { /*opmaak voor bijna alle p tags in mijn website*/
    display: block;
    background-color: #2b2bc5;
    color: white;
    margin: 0px;
  }

  .bbutton { /*opmaak voor de binary bonanza knop in binaire*/
    background-color: darkblue;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }

  .bbutton:hover {
    background-color: rgb(0, 0, 40); /*code voor de achtergrondkleur van als je over de tekst heen hovert*/
  }

/*menu bar*/
ul { /*de achtergrond/bar van van het menu*/
  position: sticky; /*zorgt dat het menu mee gaat als je scrolt*/
  top: 0;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: darkblue;
}

#id4503cd869e715 { /*zodat het weer achter het menu staat*/
  z-index: -1;
}

li {
  float: left;
}

li a { /*tekst kleur/opmaak*/
  display: block;
  color: lightblue; 
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: rgb(0, 0, 40); /*code voor de achtergrondkleur van als je over de tekst heen hovert*/
}


/*dropdown menu*/
.dropdown {
  position: sticky; /*zorgt dat het menu mee gaat als je scrolt*/
  top: 0;
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn { /*kleur en opmaak van de knop zelf*/
  font-size: 16px;  
  border: none;
  outline: none;
  color: lightblue;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn { /*kleur voor de hover voor de button*/
  background-color: rgb(0, 0, 40);
}

.dropdown-content { /*opmaak van de inhoud van de dropdown*/
  display: none;
  position: absolute;
  background-color: rgb(0, 0, 111);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a { /*opmaak voor de tekst van de inhoud dropdown*/
  float: none;
  color: lightblue;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover { /*kleur voor de hover van de inhoud van de dropdown*/
  background-color: rgb(0, 0, 40);
}

.dropdown:hover .dropdown-content { /*wat voor soort display de dropdown heeft*/
  display: block;
}